h4,h5{
  text-decoration:underline;
}
.blur{
  background:linear-gradient(rgba(56, 145, 166, 0.35),rgba(56, 145, 166, 0.45)),url(../img/seattle.jpg);
  no-repeat 0px 0px;
  padding-bottom:4em;
  background-size:cover;
}
.heading{
  text-align: center;
  background-color: #2F9EAF;
  font-size: 1.5em;
  padding: 15px 0px;
  margin-top: -30px;
  color: #fff;
}
#tasks{border-right:0;background-color:#F3F2F2;min-height:600px}
#ongoing{min-height:600px}
.bd{border:1px solid #000;}
.bx{width:80%;margin-left:0px;margin-bottom:8px;min-height:100px}
.bx .col-xs-12:nth-child(1){background-color:rgba(255,255,255,0.35);color:#fff}
#tasks>.row .col-md-4,#ongoing>.row .col-md-4{ border:2px solid #fff;min-height:100px;}
#tasks .col-md-4 .row,#ongoing .col-md-4 .row{background-color:rgba(255,255,255,0.35);color:#f5f5f5}
#tasks>.row .col-md-4 a{color:#000}
#drp-completed.bx .col-xs-12{background-color:grey;color:#fff;margin-bottom:5px}
#drp-completed,#drp-ongoing{min-height:300px}
.bg-1{background-color:#F9906F;}
.bg-2{background-color:#84E284}
.bg-3{background-color:#2F9EAF;}
.bg-4{background-color:#ADB1B3;}
.bg-5{background-color:#859EB3}
.legend{margin-left:18px}
.legend>.row .col-xs-3{padding:8px;margin-bottom:5px;}




.padtb10{padding:20px 0;}
.no-bg{
    background-color:#fff;
    min-height:270px;
}
footer{
    text-align:center;
    color:#fff;
    background-color:#74777b;
    padding:10px 0px;

}
.nav > li > a{
  color:#fff;
}
.nav > li > a:hover {
    background: none;
    color:#fff;
}

.fa::before {
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-size: 1.4em;
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
